body {
  background-color: #6d9886;
  font-family: arial, sans-serif;
}

p {
  color: #393e46;
  font-size: 20px;
  font-weight: 300;
}
a {
  text-align: right;
  font-size: 15px;
}
footer {
  text-align: center;
  margin-top: -92px;
}
.week {
  margin-top: -250px;
  margin-left: 44px;
  text-align: center;
  color: #393e46;
  font-size: 22px;
  opacity: 0.5;
}
.weather {
  border: 1px solid #d9cab3;
  border-radius: 16px;
  width: 678px;
  height: 490px;
  margin: 60px auto;
  background-color: #d9cab3;
  box-shadow: 0 0 32px;
}
.cityname {
  font-size: 40px;
}
.form {
  padding: 17px 0 0 24px;
  align-items: left;
}
.form-control {
  width: 320px;
  height: 28px;
}
.btn.btn-primary {
  width: 81px;
  height: 26px;
  padding: 2px 6px 3px 8px;
  margin: -63px -3px -10px 336px;
  background-color: #6d9886;
}
.current {
  padding: 0px 14px 0px 21px;
  margin: 29px 0px 0px -19px;
  background-color: #6d9886;
}
.weatherday {
  padding: 0px 0 0 0px;
  margin: 20px 0 0 -66px;
  align-items: right;
}
.day {
  padding: 11px 0 0 36px;
}
.conditions {
  font-weight: 300;
  padding: 29px 0px 0px 0px;
  margin-left: -15px;
}
.forecast {
  padding: 0 90px 0px 40px;
  text-align: center;
  margin-top: -25px;
}
.emoji {
  font-size: 90px;
  text-align: center;
  padding: 0px 0px 0px 30px;
}
.weatherdescript {
  font-size: 15px;
}
.card-body {
  text-align: center;
}

.card {
  margin: 18px 0 0 30px;
  background-color: whitesmoke;
  border-color: whitesmoke;
}
.col-2 {
  margin: -10px 6px 0 0;
}
.temperatures {
  font-size: 50px;
  text-align: left;
  padding-left: 0px;
}

.linktemp {
  position: relative;
  top: -5px;
  left: 19px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast-date {
  color: black;
}
